body{
    background-color: skyblue
}
.mainBox{
    position: fixed;
    left: 40rem;
    top: 19rem;
}
.mainBox input{
    width: 17rem;
    height: 1.5rem;
}
.mainBox h1{
    
}
.dataFile{
    position: fixed;
    margin-left: 34rem;
    margin-top: 6rem;
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}